mixin advantages()
	+b.advantages
		+e.container
			+e.img
				img(src="img/planshet.jpg", alt="")
			
			+e.block
				+e.header
					+e.H2.subtitle Discover the advantages
					+e.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aspernatur natus eius impedit sint laboriosam ut commodi, sequi aperiam fuga iure atque deleniti veniam quod. Quaerat rem et nam nobis earum repellat voluptate.
				
				+e.items
					+e.item
						+e.I.icon.--portfolio 
						+e.item-text Lorem ipsum dolor sit amet
					+e.item
						+e.I.icon.--comment 
						+e.item-text Consectetur adipisicing
					+e.item
						+e.I.icon.--edit 
						+e.item-text Labore obcaecati autem
					+e.item
						+e.I.icon.--key 
						+e.item-text Temporibus minus