mixin guarantee()
	+b.guarantee
		+e.items
			+e.item.--left
				+e.IMG(src="img/iconCloud.png").img
				+e.H2.subtitle Your Data in Cloud
				+e.text Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magn.
			+e.item.--middle
				+e.IMG(src="img/iconBootBig.png").img
				+e.H2.subtitle Monthly Rewards
				+e.text Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magn.
			+e.item.--right
				+e.IMG(src="img/iconAmbr.png").img
				+e.H2.subtitle 24/7 Support
				+e.text Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magn.