mixin offer()
	+b.offer
		+e.container
			+e.items
				+e.item
					+e.img
						img(src="img/iconPersonal.png")
					+e.block
						+e.subtitle Responsive Design
						+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. In non molestiae nesciunt reprehenderit, nostrum impedit ipsum earum!
						+e.A(href="#").link Read more >
				+e.item
					+e.img
						img(src="img/iconCrossBrowser.png")
					+e.block
						+e.subtitle Cross-Browser Support
						+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. In non molestiae nesciunt reprehenderit, nostrum impedit ipsum earum!
						+e.A(href="#").link Read more >
				+e.item
					+e.img
						img(src="img/iconCreative.png")
					+e.block
						+e.subtitle Creative Design
						+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. In non molestiae nesciunt reprehenderit, nostrum impedit ipsum earum!
						+e.A(href="#").link Read more >
				+e.item
					+e.img
						img(src="img/iconBootstrap.png")
					+e.block
						+e.subtitle Bootstrap 4.0
						+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. In non molestiae nesciunt reprehenderit, nostrum impedit ipsum earum!
						+e.A(href="#").link Read more >
				+e.item
					+e.img
						img(src="img/icon100.png")
					+e.block
						+e.subtitle 100 Icon Fonts
						+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. In non molestiae nesciunt reprehenderit, nostrum impedit ipsum earum!
						+e.A(href="#").link Read more >
				+e.item
					+e.img
						img(src="img/iconMoreF.png")
					+e.block
						+e.subtitle More Features
						+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. In non molestiae nesciunt reprehenderit, nostrum impedit ipsum earum!
						+e.A(href="#").link Read more >
