mixin presentation()
	+b.presentation
		+e.container
			
			+e.descr
				+e.H2.header Present your site in the most beautiful way
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt excepturi sapiente laudantium unde ullam. Facilis id ea dolore rem incidunt debitis! Earum eveniet, adipisci sit voluptates officia voluptate saepe dicta quae fuga et, nemo ad omnis odit quo odio sapiente voluptas doloribus iste obcaecati ipsum? Laudantium voluptates iste assumenda quam nisi nobis quo amet?
			
			+e.items
				+e.item
					+e.IMG(src="img/pict1.jpg").img
					+e.subtitle Responsive Design
					+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a cum ullam praesentium facere et fuga!
				+e.item
					+e.IMG(src="img/pict2.jpg").img
					+e.subtitle Build for mobile and up
					+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a cum ullam praesentium facere et fuga!
				+e.item
					+e.IMG(src="img/pict3.jpg").img
					+e.subtitle Variant Builder included
					+e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a cum ullam praesentium facere et fuga!