mixin prices()
	+b.prices
		+e.container
			
			+e.H2.title Affordable Packeges
			
			+e.items

				+e.item
					+e.item-header Presonal
					+e.item-price 75 
						span /month
					+e.UL.item-lists
						+e.list-wrapper
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Lorem ipsum dolor sit amet
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Conse ctetur adipisicing
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
							+e.item-list
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#999" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z")
								|Incididunt ut labore
							+e.item-list 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#999" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z")
								|Et dolore magna aligua
							+e.item-list 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#999" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z")
								|Ut enim ad minim veniam

				+e.item
					+e.item-header Business
					+e.item-price 95 
						span /month
					+e.UL.item-lists
						+e.list-wrapper
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Lorem ipsum dolor sit amet
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Conse ctetur adipisicing
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
							+e.item-list
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#999" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z")
								|Incididunt ut labore
				
				+e.item
					+e.item-header Presonal
					+e.item-price 125 
						span /month
					+e.UL.item-lists
						+e.list-wrapper
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Lorem ipsum dolor sit amet
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Conse ctetur adipisicing
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
							+e.item-list.--marked 
								svg(style="width:18px;height:18px" viewBox="0 0 24 24")
									path(fill="#1C9D74" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z")
								|Elit sed do eiusmod tempor
