mixin stats()
	+b.stats
		+e.container
			+e.items
				+e.item
					+e.IMG(src="img/iconCap.png", alt="").img
					span 258
					p Elit sed do eiusmod tempo
				+e.item
					+e.IMG(src="img/iconDisket.png", alt="").img
					span 58
					p Elit sed do eiusmod tempo
				+e.item
					+e.IMG(src="img/iconMan.png", alt="").img
					span 1,897
					p Elit sed do eiusmod tempo
				+e.item
					+e.IMG(src="img/iconPen.png", alt="").img
					span 786
					p Elit sed do eiusmod tempo